/* add css module styles here (optional) */

button {
  font-size: 15px;
  border: 1px solid transparent;
  border-color: #d9d9d9;
  background: rgb(255, 255, 255);
  padding: 5px 15px;
  cursor: pointer;
}


.primary {
  background: #008CFF;
  color: white;
  border: none;

}

.dashed {
  border: 1px dashed transparent;
  border-color: #d9d9d9;
}

.text {
  border: none;
}

.link {
  color: #008CFF;
  border: none;
}

